*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# CA 运行时生成的文件
private/
newcerts/
certs/
crl/
from_user_csr/
to_user_crt/
ca.pem.*
ca.der.*
index.txt*
serial*
crlnumber*
my_conf/openssl.cnf--*
my_conf/env.sh--*
!my_conf/env.sh--*.sample
!my_conf/env.sh--model
!my_conf/env.sh--test.lan
