#!/bin/bash

                                                                                                                                                                                              
## 私钥
export PRIVATEKEY_BITS=${PRIVATEKEY_BITS:-4096}    #--- 私钥长度


## openss.cnf变量
# 证书
export CERT_BITS=${CERT_BITS:-4096}          #--- 证书长度
export CERT_DAYS=${CERT_DAYS:-3650}           #--- 证书有效期

# [ req_distinguished_name ]
# 用户信息
export countryName_default="CN"
export stateOrProvinceName_default="GuangDong"
export localityName_default="GuangZhou"
export organizationName_default0="ZZXia"
export organizationalUnitName_default="IT"
export emailAddress_default="admin@zzxia.vip"
#
export commonName_default="ZZXIA-ROOT-CA"

# [ alt_names ]
# 新增 alt_names,注意等号前后的空格，DNS.x 的数量可以自己加，common name的值也必须添加到这里
# 至少要有一行DNS信息，上面的通用名commonName_default的值也要填写在这里
export alt_names=$(echo "
DNS.1 = ZZXIA-ROOT-CA
")


